<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <span *ngIf="!userIsAuthenticated">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon routerLink="/auth/login">login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon routerLink="/auth/signup">assignment</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon routerLink="/create">add</mat-icon>
    </button>
  </span>
  <span *ngIf="userIsAuthenticated">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon routerLink="/">home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onLogout()">
      <mat-icon routerLink="/">logout</mat-icon>
    </button>
  </span>
</mat-toolbar>
